#pdsinterop-admin label {
	width: 160px;
	vertical-align: top;
	display: inline-block;
}
#pdsinterop-admin input {
	width: 480px;
}
#pdsinterop-admin textarea {
	width: 480px;
	height: 240px;
	font-size: 12px;
	font-family: monospace;
}