#solid-admin label.narrow {
	width: 160px;
	vertical-align: top;
	display: block;
}
#solid-admin textarea {
	width: 500px;
	height: 240px;
	font-size: 12px;
	font-family: monospace;
}
#solid-admin input.textaligned {
	height: 1rem;
	min-height: unset;
}