/**
 * SPDX-FileCopyrightText: 2020, Michiel de Jong <michiel@unhosted.org>
 * SPDX-License-Identifier: MIT
 */




#solid-admin label {
	width: 160px;
	vertical-align: top;
	display: block;
}
#solid-admin input {
	width: 480px;
}
#solid-admin textarea {
	width: 480px;
	height: 240px;
	font-size: 12px;
	font-family: monospace;
}
