# This workflow will do a clean install of node dependencies, build the source
# code and run tests across different versions of node
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v2
      # Run the Solid test-suite
      - name: Run the Solid test suite
      # Until the test-suite has been fixed, allow the tests to fail.
        # See: https://github.com/pdsinterop/solid-nextcloud/issues/69
        continue-on-error: true
        shell: 'script -q -e -c "bash {0}"'
        run: |
          bash ./run-solid-test-suite.sh
